

main{
    background-color: var(--container-bg-color);
}

main .row{
    padding: 15px;
    background-color: var(--white-color);

}
.product{
    padding: 15px 10px;
    border-right: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    border-radius: 5px 30px;
    
}
.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: growth;
    border-color: #fff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

/* Đã đem qua bên base.css */
/* @keyframes growth{
    from{transform: translate(0,0);}
    to{transform: translate(0,-4px);}
} */
.product-item{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.product-item_sale-percent{
    background-color: var(--green-color);
    color: white;
    font-weight: 600;
    padding: 2px;
}
.product-item_sale-instalment{
    background-color: var(--lightgrey-color);
    font-weight: 400;
    padding: 2px;
}
.product-item_img{
    display: flex;
    justify-content: center;
}
    
.product-item_img img{
    width: 60%;
    height: auto;
}

.product-item_img:hover{
    cursor: pointer;
}

.product-item_name, .product-item_action, .product-item_price, .product-item_basket{
    margin: auto;
    padding: 10px 20px;
}


.product-item_name{
    padding-bottom: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    
}



.product-item_name:hover{
    color: var(--green-color);
    text-decoration: underline;
    cursor: pointer;
}

.product-item_action{
    font-size: 1.4rem;
}

.product-item_price-current{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red-color);
}

.product-item_price-old{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grey-color);
    text-decoration: line-through;
}

.product-item_rating-icon{
    color: var(--star-gold-color);
}

.heart-icon-empty{
    display: inline-block;
    cursor: pointer;
}

.heart-icon-full{
    display: none;
    color: red;
    cursor: pointer;
}

.product-item_basket, .product-modal-item_basket {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--lightgrey-color);
    border: 2px solid black;
}

.product-item_basket span, .product-modal-item_basket span {
    font-size: 1.5rem;
    font-weight: 500
}

.product-item_basket i, .product-modal-item_basket i{
    margin: 0 7px;
    font-size: 1.8rem;
}

.product-item_basket:hover, .product-modal-item_basket:hover{
    background-color: var(--green-color);
    color: white;
    border: 2px solid var(--green-color);
    
}


.product-modal-dialog{
    max-width: 65%;
}

.product-modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: unset;
    justify-content: space-between;
    padding: 15px;
    border-bottom: none;
}

.product-btn-close{
    margin: 0;
    padding: 1rem;
    font-size: 1.7rem;
}

.product-modal-title{
    font-size: 2.5vw;
}

.product_modal-item_sale-percent{
    position: absolute;
    top: 10px;
    left: -10px;
    background-color:var(--green-color);
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.6rem;
    padding: 0.5vw 1vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product_modal-item_sale-percent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: 10px solid var(--green-color);
    border-left: 10px solid transparent;
    filter: brightness(60%);
}

.product-modal-footer{
    justify-content: center;
    border-top: none;
}

.pagination{
    background-color: var(--white-color);
}

.page-item, .page-item-next, .page-item-previous{
    padding: 10px;
    margin: 7px;
    font-weight: 600;
}

.page-item:hover, .page-item-next:hover, .page-item-previous:hover{
    color: var(--green-color);
}


.cart{
    font-size: 1.5rem;
}

.cart table tr{
    text-align: center;
}

.cart table tbody tr td:first-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.cart img{
    width: 50%;
}

.cart .cart_product-quantity{
    width: 30px;
    cursor: pointer;
}

.price-total{
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.cart{
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    overflow: scroll;
    background-color: var(--primary-color);
    border-left: 3px solid var(--grey-color);
    right: -100%;
    transition: all 0.3s ease;
}

.cart_exit-icon{
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}
.cart_exit-icon:hover{
    cursor: pointer;
}

.cart_title-name{
    display: flex;
    justify-content: center;
}



.cart_pay-btn{
    display: flex;
    justify-content: center;
    
}

.cart_pay-btn button{
    font-size: 1.5rem;
    font-weight: 500;
    width: 18vw;
}
 /* reponsive */
@media(min-width: 576px) and (max-width: 992px){
    .product-item_sale {
        font-size: 1rem;
    }
    .product-item_price{
        flex-wrap: wrap;
        
    }

    .product-item_basket span{
        display: none;
    }

    .cart{
        width: 330px;
    }
}


@media (max-width: 600px){
    .cart{
        width: 100%;
        border:0;
    }

    .cart_pay-btn button{
        width: 50vw;
    }
}

 /* reponsive */
