.wraped_main {
    background-color: #f2f2f2;
    padding: 1.5rem 0;
}

.title-trangchu {
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 15px;
}

.section-trangchu {
    background-color: var(--white-color);
    border-radius: 10px;
    margin-top: 3rem ;
    /* margin-bottom: 2rem ; */
}

/* Featured news */
.mySlides {
    display: none;
}


.news_tech {
    font-size: 1.5rem;
    font-weight: 500;
}

.slide_pre-icon,
.slide_next-icon {
    background-color: var(--logo-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}


/* Product Catalogy */


.prd-cata-name {
}

.prd-item-img{
    background-color: var(--primary-color);
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    /* margin-bottom: 3px; */
}

/* .prd-item-img img {
    width: 8rem;
    background-color: wheat;
    padding: 10px;
    width: 10rem;
    border-radius: 10px;
} */

.inner-img {
    width: 8rem;
}

.inner-img:hover {
    transform: translateY(-10px);
}

.prd-item-name {
    font-size: 1.7rem;
    font-weight: 600;
}



/* Điện thoại */

.prd-type-item {
    min-height: 36rem;
}

.prd-type-item_center {
    display: block;
    margin: auto;
}

.wrapped-name-price {
    /* min-height: 10rem; */
}

.prd-type-item-name {
    color: var(--text-color);
    text-decoration: none;
}

.prd-type-item-price {
    color: red;
}

.btn-buy {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 0.8rem 0;
    margin-top: 1.2rem;
}

.btn-buy:hover {
    background-color: var(--primary-color_hover);
}

.prd-type-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}



/* Xem tất cả */
.prd-type-all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: auto 3rem;
    text-decoration: none;
    color: var(--logo-color);
    border: 0.15rem solid #000;
    border-radius: 5px;
}

.prd-type-all:hover {
    background-color: #17bd7d;
    color: var(--white-color);
    border-color: #17bd7d;
    border-radius: 5px;
}

.prd-type-all span {
    font-size: 1.6rem;
    font-weight: 600;
}

.prd-type-all i {
    padding-left: 0.6rem;
    font-size: 1.8rem;
}



/* TEST */
.product{
    padding: 10px 0;
    border-right: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    border-radius: 5px 30px;
}
.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    animation-name: growth;
    border-color: #fff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes growth{
    from{transform: translate(0,0);}
    to{transform: translate(0,-4px);}
}
.product-item{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.product-item_sale-percent{
    background-color: var(--green-color);
    color: white;
    font-weight: 600;
    padding: 2px;
}
.product-item_sale-instalment{
    background-color: var(--lightgrey-color);
    font-weight: 400;
    padding: 2px;
    margin-left: 8px;
    font-size: 1.3rem;
}
.product-item_img img{
    width: 100%;
    height: auto;
}

.product-item_name, .product-item_action, .product-item_price, .product-item_basket{
    margin: auto;
    padding: 10px 20px;
}

.product-item_name:hover{
    color: var(--green-color);
    text-decoration: underline;
}

.product-item_price-current{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red-color);
}

.product-item_price-old{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grey-color);
    text-decoration: line-through;
}

.product-item_rating, .product-item_love-icon{
    font-size: 1.5rem;
}

.product-item_rating-icon{
    color: var(--star-gold-color);
}

.product-item_basket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--lightgrey-color);
    border: 2px solid black;
}

.product-item_basket span{
    font-size: 1.5rem;
    font-weight: 500
}

.product-item_basket i{
    margin: 0 7px;
    font-size: 1.8rem;
}

.product-item_basket:hover{
    background-color: var(--green-color);
    color: white;
    border: 2px solid var(--green-color);
    
}

.pagination-sanpham{
    font-size: 1.5rem ;
    display: flex;
    list-style: none;
    color: var(--text-color);
}

.page-item, .page-item-next-icon, .page-item-previous-icon{
    padding: 10px;
    margin: 7px;
    font-weight: 600;
}

.page-item:hover, .page-item-next-icon:hover, .page-item-previous-icon:hover{
    color: var(--green-color);
    text-decoration: underline;
}

 /* reponsive */
@media(min-width: 576px) and (max-width: 992px){
    .product-item_sale {
        font-size: 1rem;
    }
    .product-item_price{
        flex-wrap: wrap;
        
    }

    .product-item_basket span{
        display: none;
    }
}

