header{
    background-color: var(--primary-color);
}


.img_logo {
    width: 100px;
    margin: 0.8rem 0;
}

.header-inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.search-input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 3rem;
    
}

.search-icon {
    width: 40px;
    font-size: 2.3rem;
    padding: 5px 5px 5px 2px;
    color: var(--black-color);
}

.header-inner-item {
    display: flex;
    font-size: 1.5rem;
    margin-top: 3rem !important;
}

.header-inner-item a{
    text-decoration: none;
}


.header_login {
    min-width: 100px;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
}

.login-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.header_sign-up {
    min-width: 100px;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
}

.sign-up-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.header_cart {
    min-width: 100px;
    font-size: 1.5rem;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.cart-item {
    margin-bottom: 2px;
}
.header_login:hover,
.header_sign-up:hover,
.header_cart:hover{
    background-color:rgb(159 200 228 / 70%);
    cursor: pointer;
}

.nav-item {
    list-style: none;
    padding: 5px 50px;
    text-align: center;
}

.nav-item-a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}


/* footer */
footer{
    border-top: 4px solid gray;
    background-color: var(--primary-color);
}

footer a{
    text-decoration: none;
    color: black;
}

footer .list-group a, p, span{
    font-size: 1.3rem;
} 
footer span i{
    font-size: 2.5rem;
}
footer i{
    margin: 5px;
}
footer h4{
    margin: 2rem 0;
}



.p_tintuc{
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.3px;
    color: var(--text-color);
}

.ul_tintuc {
    list-style-type: none; /* Loại bỏ dấu hiệu danh sách mặc định */
    padding: 0;
    
}

.ul_tintuc li:nth-child(odd) {
    background-color: #fff; /* Màu nền trắng cho mục lẻ */
}

.ul_tintuc li:nth-child(even) {
    background-color: #f5f5f5; /* Màu nền xám cho mục chẵn */
}

.hovertest:hover {
    background-color: var(--primary-color);
}

.link {
    color: inherit; /* Sử dụng màu văn bản mặc định của thẻ <a> */
    text-decoration: none; /* Loại bỏ gạch chân */
}

.hovertest{
   padding: 10px 10px;
}

.td_p{
    width: 90%;
  }

  .news-item {
    border-radius: 10px;
    border:5px 1px solid #ccc; /* Viền mỏng */
    margin:0px 30px; /* Khoảng cách giữa các mục tin tức */
  }

.news-item p{
    margin:10px 30px;
}

.body{
     background-color: #f0f0f0;
}

.table2 {
    margin: 10px;
    padding-top: 20px; /* Đặt khoảng cách giữa nội dung và viền */
    background-color: #fff;
    border: 1px solid lightgray;
}






.hoverfornews{
    height: fit-content;
    transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển đổi và bóng đổ */
}

.hoverfornews:hover{
    transform: translateY(-5px); /* Dịch chuyển phần tử lên trên khi hover */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Bóng đổ */
  background-color: var(--primary-color);
}
  

  
  
  
  
  
  
  
  
  



















