header{
    background-color: var(--primary-color);
}


.img_logo {
    width: 100px;
    margin: 1.5rem 0 0;
}

.header-inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.search-input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 3rem;
    
}

.search-icon {
    width: 40px;
    font-size: 2.3rem;
    padding: 5px 5px 5px 2px;
    color: var(--black-color);
}

.header-inner-item {
    display: flex;
    font-size: 1.5rem;
    margin-top: 3rem !important;
}

.header-inner-item a{
    text-decoration: none;
}


.header_login {
    min-width: 100px;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
}

.login-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.header_sign-up {
    min-width: 100px;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
}

.sign-up-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.header_cart {
    min-width: 100px;
    font-size: 1.5rem;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.cart-item {
    margin-bottom: 2px;
    font-size: 1.5rem;
}
.header_login:hover,
.header_sign-up:hover,
.header_cart:hover{
    background-color:var(--primary-color_hover);
    cursor: pointer;
}

.header_nav {
    
}

.nav-item, .nav_more {
    list-style: none;
    text-align: center;
    padding: 8px 84px;
    position: relative;
    /* background-color: var(--primary-color_hover); */

}

.nav-item:hover {
    background-color: var(--primary-color_hover);
    border-radius: 2px;
}

.nav-item-a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.nav_more {
    position: relative;
}

.nav_more:hover .nav_more-product {
    display: block;
    animation: fadeIn ease-in 0.2s;
}

.nav_more-product {
    position: absolute;
    width: 278px;
    background-color: white;
    top: 40px;
    left: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    padding-left: 0;
    z-index: 1;
    text-align: left;
    display: none;
}

.more-product-item {
    list-style: none;
    /* padding: 12px 40px; */
}

.more-product-item:hover {
    background-color: #f8f8f8;
}

.more-product-item-a {
    display: inline-block;
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 12px 40px;
}

.more-pro-item-icon {
    font-size: 1.8rem;
    margin-right: 8px;
    width: 20px;
}



/* footer */
footer{
    border-top: 4px solid gray;
    background-color: var(--primary-color);
}

footer a{
    text-decoration: none;
    color: black;
}

footer .list-group a, p, span{
    font-size: 1.3rem;
} 
footer span i{
    font-size: 2.5rem;
}
footer i{
    margin: 5px;
}
footer h4{
    margin: 2rem 0;
}

.social-media-icon:hover {
    opacity: 0.8;
}

.logo_footer {
    width: 17vw;
    margin-top: 3rem;
}